<footer class="w-100 float-left">
    <div class="footer-main w-100 float-left">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="fz18 font-weight-normal mb-3">About Us</div>
                    <p class="mb-0 fz14">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptates ipsa
                        placeat perferendis? Incidunt temporibus quo repellendus quas at aperiam, placeat nemo amet,
                        labore, ullam minus aliquid voluptate fugiat aspernatur itaque recusandae beatae ab dignissimos
                        sit accusamus dolores a. Laborum natus veniam vel dignissimos voluptatem dicta non explicabo
                        repellendus amet</p>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fz18 font-weight-normal mb-3">Company</div>
                            <div class="footer-list-links">
                                <a href="javascript:void(0)">About Us</a>
                                <a href="javascript:void(0)">Careers</a>
                                <a href="javascript:void(0)">Blog</a>
                                <a href="javascript:void(0)">Terms & Conditions</a>
                                <a href="javascript:void(0)">Privacy Policy</a>
                                <a href="javascript:void(0)">Rental Agreement</a>
                                <a routerLink="/testimonials" target="_blank">Testimonials</a>
                                <a href="javascript:void(0)">SiteMap</a>
                                <a href="javascript:void(0)">FAQ</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fz18 font-weight-normal mb-3">Contact Us</div>
                            <div class="footer-list-links">
                                <a href="javascript:void(0)">Contact Us</a>
                                <a href="javascript:void(0)">Corporate Enquiry</a>
                                <a href="javascript:void(0)">Media</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fz18 font-weight-normal mb-3">Follow Us</div>
                            <div class="social-links mb-4">
                                <a href="javascript:void(0)" target="_blank" class="facebook"></a>
                                <a href="javascript:void(0)" target="_blank" class="twitter"></a>
                                <a href="javascript:void(0)" target="_blank" class="instagram"></a>
                            </div>
                            <div class="w-100 text-left">
                                <a href="javascript:void(0)" class="app-icon">
                                    <img src="assets/img/play_store.png" target="_blank">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom w-100 float-left fz14 text-center py-2">
        &copy; {{ currentYear }} Punun Makan. All rights reserved.
    </div>
</footer>