<header class="header-wrapper header-fixed py-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 d-flex justify-content-start align-items-center">
                <a href="javascript:void(0)" class="menu-btn mr-3"><i class="fas fa-bars"></i> Menu</a>
                <a (click)="openLoginModal()" href="javascript:void(0)" class="auth-btn mr-3">Login / Sign Up</a>
            </div>
            <div class="col-lg-6 text-right">
                <a routerLink="/" class="d-inline-flex align-items-center logo-main">
                    <span>Punun<br>Makaan</span>
                    <img src="https://img.icons8.com/bubbles/50/000000/city-buildings.png">
                </a>
            </div>
        </div>
    </div>
</header>