:host {
    height: 100%;
}

.left-content {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-content-container {
    .text1 {
        font-size: 18px;
        font-weight: 600;
    }

    .text-list {
        font-size: 14px;
    }
}