<div class="w-100 pt-4">
    <div class="container">
        <h3 class="text-capitalize text-center mb-4 heading-3">List your property for free</h3>
        <div>Select property type:</div>
        <ul class="tab-pane">
            <li>
                <a routerLink="residential">Residential</a>
            </li>
            <li>
                <a routerLink="commercial">Commercial</a>
            </li>
            <li>
                <a routerLink="land">Land</a>
            </li>
        </ul>
    </div>
</div>