<div class="bgfixed"></div>
<div class="w-100 list-propert-wrapper">
    <section class="w-100">
        <div class="row no-gutters">
            <div class="col-lg-4 collapse-left">
                <h2>Things you Can Do with PununMakaan Account</h2>
                <ul>
                    <li>Post one Single Property for FREE</li>
                    <li>Set property alerts for your requirement</li>
                    <li>Get accessed by over 1 Lakh buyers</li>
                    <li>Showcase your property as Rental, PG or for Sale</li>
                    <li>Get instant queries over Phone, Email and SMS</li>
                    <li>Performance in search & Track responses & views online</li>
                    <li>Add detailed property information & multiple photos per listing</li>
                </ul>

                <a href="javascript:void(0)" class="collapse-btn"><i class="fas fa-chevron-left"></i></a>
            </div>
            <div class="col-lg-8 py-5">
                <div class="listform-wrapper">
                    <h2>Lorem, ipsum</h2>
                    <form action="javascript:void(0)">
                        <div class="row form-group">
                            <div class="col-sm-12 form-group">
                                <div class="inputgroup">
                                    <input type="text" class="form-control inputbox" required>
                                    <span class="float-label">Name</span>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group input-group">
                                <div class="inputgroup">
                                    <input type="text" class="form-control inputbox" required>
                                    <span class="float-label">Email</span>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <div class="form-row">
                                    <div class="col-2">
                                        <div class="inputgroup">
                                            <select class="form-control inputbox" tabindex="-1">
                                                <option value="+91">+91</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="inputgroup">
                                            <input type="text" class="form-control inputbox" required>
                                            <span class="float-label">Mobile Number</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="inputgroup">
                                    <select class="form-control inputbox" required>
                                        <option value=""></option>
                                        <option value="New Delhi">New Delhi</option>
                                    </select>
                                    <span class="float-label">City</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="labelFix">Type</label>
                            <div class="form-row">
                                <div class="col">
                                    <input type="radio" id="1" name="type">
                                    <label for="1" class="typeLabel ml-1">Type 1</label>
                                </div>
                                <div class="col">
                                    <input type="radio" id="2" name="type">
                                    <label for="2" class="typeLabel ml-1">Type 1</label>
                                </div>
                                <div class="col">
                                    <input type="radio" id="3" name="type">
                                    <label for="3" class="typeLabel ml-1">Type 1</label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-4 whatsapp-check">
                            <input type="checkbox" id="whatsapp">
                            <label for="whatsapp">I want to receive important updates on <i class="fab fa-whatsapp"></i>
                                Whatsapp</label>
                        </div>

                        <!-- <div>
                            <label class="mb-0">Get updates on WhatsApp</label>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div> -->

                        <div class="mb-4 text-center">
                            <a href="javascript:void(0)" class="tandc">Lorem, ipsum dolor sit amet consectetur
                                adipisicing</a>
                        </div>

                        <div class="w-100">
                            <button class="btn btn-block btn-primary">Button text goes here</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>