<div class="w-100 pt-4">
    <div class="container">
        <div class="w-100 type-wrapper">
            <div class="mb-3 form-card-skin">
                <h1 class="text-left type-title mb-0">Land Property</h1>
            </div>
            <form action="javascript:void(0)" class="fz14">
                <section class="mb-3 form-card-skin">
                    <p class="form-section-header">Property Detail</p>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Land Size</label>
                            <div class="form-row">
                                <div class="col-lg-6 col-md-6 mb-md-0 form-group">
                                    <select class="custom-select">
                                        <option value="">Select Option</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <select class="custom-select">
                                        <option value="">Select Option</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Expected Price</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Negotiable</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Under Loan</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                    </div>
                </section>
        
                <section class="mb-3 form-card-skin">
                    <p class="form-section-header">Locality Detail</p>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>District</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Locality</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Street Area Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Landmark</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Pincode</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </section>
        
                <section class="mb-3 form-card-skin">
                    <p class="form-section-header">Nearby Facilites</p>
                    <div class="form-row">
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Hospital</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>School</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Collage/University</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Gym</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Park</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Shopping Center</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Playground</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Pharmacy</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 form-group">
                            <label>Mosque</label>
                            <select class="custom-select">
                                <option value="">Select Option</option>
                            </select>
                        </div>
                    </div>
                </section>
        
                <section class="mb-3 form-card-skin">
                    <p class="form-section-header">Description</p>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </section>
        
                <div class="text-right">
                    <button type="submit" class="btn btn-primary btn-min-width">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>