$theme-colors: (
  "primary": #EF6F6C,
  "secondary": #59c9a5,
  "footer": #1d3557,
  "fade": #949191
);

@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  padding-top: 64px;
}

.fz12 {
  font-size: 0.75rem;
}

.fz14 {
  font-size: 0.875rem;
}

.fw5 {
  font-weight: 500;
}

.mx2px {
  margin-left: 2px;
  margin-right: 2px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #555;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  transition: all 0.2s ease-in-out;
  z-index: 123456;
}