$theme-colors: (
  "primary": #EF6F6C,
  "footer": #1d3557,
  "fade": #949191
);

@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  padding-top: 64px;
}

.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fw5 {
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border-color: #555;
}