<div class="home-wrapper">
    <section class="banner-section text-center container-fluid">
        <h1 class="mb-4">J&K first no brokerage website</h1>

        <div class="w-100 mb-5">
            <div class="d-flex justify-content-center">
                <ul class="tab-row">
                    <li class="active"><a href="javascript:void(0)">Residential</a></li>
                    <li><a href="javascript:void(0)">Land</a></li>
                    <li><a href="javascript:void(0)">Commercial</a></li>
                </ul>
            </div>
            <div class="search-container d-inline-block position-relative">
                <div class="search-wrapper">
                    <div class="position-relative drop">
                        <a #district href="javascript:void(0)" class="location-btn">
                            <span>Srinagar</span>
                        </a>

                        <ul class="child-filter-option fz14">
                            <li>
                                <a href="javascript:void(0)">Kathua</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Jammu</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Samba</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Udhampur</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Reasi</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Rajouri</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Poonch</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Anantnag</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Srinagar</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <input type="text" placeholder="Search upto 3 localities" class="search-box">
                    </div>
                    <button [routerLink]="['/property-listing']" type="button" class="search-btn btn btn-primary rounded-0">
                        <i class="fa fa-search"></i>
                        Search
                    </button>
                </div>

                <div class="filter-down">
                    <ul class="p-0 m-0 fdrow">
                        <li #drop class="drop">
                            <a href="javascript:void(0)">Type 1</a>

                            <ul class="child-filter-option">
                                <li>
                                    <a href="javascript:void(0)">First Floor</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Second Floor</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Third + Floor</a>
                                </li>
                            </ul>
                        </li>
                        <li #drop class="drop">
                            <a href="javascript:void(0)">Property Status</a>

                            <ul class="child-filter-option">
                                <li>
                                    <a href="javascript:void(0)">Under Construction</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Ready to Move</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 mb-5">
            <div class="text-center mb-3">
                <span class="d-inline-block x-line">Are you a Property Owner?</span>
            </div>
            <button [routerLink]="['/list-property']" type="button" class="btn btn-primary ad-post-btn">List your property for free</button>
        </div>

    </section>

    <section class="w-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <a href="javascript:void(0)">

                    </a>
                </div>
            </div>
        </div>
    </section>
</div>